.navbar {
  background-color: #1e2529;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  position: relative;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
}
.logo-icon {
  width: 25px;
  height: auto;
  margin-right: 8px;
}
.navbar .questions-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 50px;
  cursor: pointer;
  opacity: 0.5;
}
.navbar .questions-btn:hover {
  opacity: 1;
}
.navbar .questions-btn:hover + .questions-menu {
  display: block;
}